{% extends 'base.html' %}
{% block content %}

<h1>Shoe List</h1>

{% for shoe in shoes %}

  <div class="card">
    <a href="{% url 'detail' shoe.id %}">
      <div class="card-content">
        <span class="card-title">{{ shoe.name }}</span>
       <p>Brand: {{ shoe.brand }}</p>
        <p>Description: {{ shoe.description }}</p>
        {% if shoe.yearer > 0 %}
          <p>RElease Year: {{ shoe.year }}</p>
        {% else %}
          <p>shoe: Default</p>
        {% endif %}
      </div>
    </a>
  </div>
{% endfor %}

{% endblock %}